# Project dependencies

# Core ML: Use an EXTRA index for the smaller CPU version of PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
pandas
scikit-learn==1.7.1
joblib
sentence-transformers

# API
fastapi
uvicorn[standard]
pydantic
python-multipart

# Code Quality
ruff
flake8